<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="form-games.component.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/home']">Home</a>
                  </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/games']">Buscar Juegos</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/users/'+username+'/reviews']">Ver mis Reseñas</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="username == 'admin'">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/admin']">Administrar Juegos</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                  <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
                </form>
                <button type="button" class="btn btn-info" role="button" (click)="logout()">Cerrar Sesión</button> 
              </div>
            </div>
        </nav> 

        <form>
            <div class="mb-3" *ngIf="editOrCreate == 'create'">
                <label for="videojuego" class="form-label">Nombre del Videojuego</label>
                <input type="text" class="form-control" id="videojuego" maxlength="75" name="videojuego" [(ngModel)]="game.nombre">
            </div>
            <div class="mb-3" *ngIf="editOrCreate == 'edit'">
                <label for="videojuego" class="form-label">Nombre del Videojuego</label>
                <input type="text" class="form-control" id="videojuego" readOnly maxlength="75" name="videojuego" [(ngModel)]="game.nombre">
            </div>
            <div class="mb-3">
                <label for="plataforma" class="form-label">Plataforma</label>
                <input type="text" class="form-control" id="plataforma" maxlength="40" name="plataforma" [(ngModel)]="game.plataforma">
            </div>
            <div class="mb-3">
                <label for="desarrolladora" class="form-label">Desarrolladora</label>
                <input type="text" class="form-control" id="desarrolladora" maxlength="50" name="desarrolladora" [(ngModel)]="game.desarrolladora">
            </div>
            <div class="mb-3">
                <label for="genero1" class="form-label">Género 1</label>
                <input type="text" class="form-control" id="genero1" maxlength="25" name="genero1" [(ngModel)]="genero1">
            </div>
            <div class="mb-3">
                <label for="genero2" class="form-label">Género 2</label>
                <input type="text" class="form-control" id="genero2" maxlength="25" name="genero2" [(ngModel)]="genero2">
            </div>
            <div class="mb-3">
                <label for="genero3" class="form-label">Género 3</label>
                <input type="text" class="form-control" id="genero3" maxlength="25" name="genero3" [(ngModel)]="genero3">
            </div>
            <div class="mb-3">"
                <label for="fechaLanzamiento" class="form-label">Fecha de Lanzamiento</label>
                <input type="date" format="dd-MM-yyyy" class="form-control" id="fechaLanzamiento" name="fechaLanzamiento" [(ngModel)]="game.fechaLanzamiento">
            </div>
            <button type="submit" class="btn btn-primary" role="button" (click)="createGame()" *ngIf="editOrCreate == 'create'">Crear Videojuego</button>
            <button type="submit" class="btn btn-primary" role="button" (click)="createGame()" *ngIf="editOrCreate == 'edit'">Actualizar Videojuego</button>
            
        </form>
        <button type="submit" class="btn btn-primary" role="button" *ngIf="editOrCreate == 'create'" [routerLink]="['/admin']">Volver</button>
        <button type="submit" class="btn btn-primary" role="button" *ngIf="editOrCreate == 'edit'" [routerLink]="['/admin/games']">Volver</button>
        
    </body>
</html>
