<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="form-reviews.component.css"/>
    </head>
    <body>
        <form>
            <div class="mb-3" *ngIf="editOrCreate == 'create'">
                <label for="videojuego" class="form-label">Nombre del Videojuego</label>
                <input type="text" class="form-control" id="videojuego" maxlength="50" name="videojuego" [(ngModel)]="review.videojuego">
            </div>
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" maxlength="50" name="titulo" [(ngModel)]="review.titulo">
            </div>
            <div class="mb-3">
                <label for="comentario" class="form-label">Comentario</label>
                <input type="text" class="form-control" id="comentario" maxlength="150" name="comentario" [(ngModel)]="review.comentario">
            </div>
            <div class="mb-3">
                <label for="nota" class="form-label">Nota (1-10)</label>
                <input type="number" class="form-control" id="nota" min="1" max="10" name="nota" [(ngModel)]="review.nota">
            </div>
            <button type="submit" class="btn btn-primary" role="button" (click)="createReview()" *ngIf="editOrCreate == 'create'">Crear Review</button>
                <button type="submit" class="btn btn-primary" role="button" (click)="createReview()" *ngIf="editOrCreate == 'edit'">Actualizar Review</button>
            
        </form>
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/home']">Volver al Home</button>
        </div>
        
    </body>
</html>
