<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="change-password.component.css"/>
    </head>
    <body>    
        <p-toast></p-toast> 
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div class="surface-card p-4 shadow-2 border-round lg:w-5 xl:w-5" style="width: 100%; max-width: 4000px;">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3" style="font-weight: bold !important;">Cambio de contraseña</div>
                </div>
                <div>
                    <label for="newPassword" class="block text-900 font-medium mb-2">Nueva contraseña</label>
                    <p-password id="newPassword" [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [feedback]="false" [toggleMask]="true" maxlength="25" placeholder="Contraseña" [(ngModel)]="newPassword" class="w-full mb-3"/>

                    <label for="password" class="block text-900 font-medium mb-2" style="margin-top: 1rem;">Confirma la nueva contraseña</label>
                    <p-password id="password" [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [feedback]="false" [toggleMask]="true" maxlength="25" placeholder="Confirma la contraseña" [(ngModel)]="repNewPassword" class="w-full mb-3"/>

                    <button pButton pRipple (click)="changePassword()" label="Cambiar contraseña" icon="pi pi-user-edit" class="w-full" style="margin-top: 45px; margin-bottom: 45px;"></button>
                </div>
                <div class="text-center mb-5">
                    <a [routerLink]="['/login']" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Regresar a Login sin cambiar la contraseña</a>
                </div>
            </div>
        </div>
    </body>
</html>
