<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="home.component.css"/>
    </head>
    <body>
      <div style="display: flex; flex-direction: column; min-height: 100vh;">
        <p-menubar class="card" [model]="items">
          <ng-template pTemplate="start">
            <h3 style="padding-right: 12px;">GameRatings</h3>
          </ng-template>
          <ng-template pTemplate="end">
            <p-splitButton [model]="itemsUser" label="{{username}}" icon="pi pi-user" styleClass="p-button-outlined"></p-splitButton>
          </ng-template>
        </p-menubar>
    
        <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
          <div class="surface-card p-4 shadow-2 border-round md:w-6 lg:w-6 xl:w-6" style="width: 100%; max-width: 4000px;">
            <div class=" text-center text-900 text-3xl font-medium mb-3" style="font-weight: bold !important; margin-bottom: 25px !important;">Home</div>
            <div class="container">
              <button pButton pRipple [routerLink]="['/games']" label="Buscar juegos" icon="pi pi-search" class="w-full"></button>
            </div>
            <div class="container">
              <button pButton pRipple [routerLink]="['/users/'+username+'/reviews']" label="Ver mis reseñas" icon="pi pi-book" class="w-full" style="margin-top: 45px;"></button>
            </div>
            <div class="container" *ngIf="username == 'admin'" style="align-self: center;">
              <button pButton pRipple [routerLink]="['/admin']" label="Panel de administrador" icon="pi pi-desktop" class="w-full" style="margin-top: 45px;"></button>
            </div>
          </div>
        </div>
      </div>
    </body>    
</html>




