<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="home.component.css"/>
    </head>
    <body>
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/games']">Buscar Juegos</button>
        </div>
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/users/',username,'reviews']">Ver mis Reseñas</button>
        </div>
        <div class="container" *ngIf="username == 'admin'">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/admin']">Administrar Juegos</button>
        </div>
    </body>
</html>




