<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="reviews.component.css"/>
    </head>
   <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/home']">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/games']">Buscar Juegos</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/users/'+username+'/reviews']">Ver mis Reseñas</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="username == 'admin'">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" role="button" [routerLink]="['/admin']">Administrar Juegos</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
              <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
            </form>
            <button type="button" class="btn btn-info" role="button" (click)="logout()">Cerrar Sesión</button> 
          </div>
        </div>
    </nav>

    <div class="container">
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/games']">Regresar a Ver Juegos</button>
        </div>
        <h4>Está viendo las reviews de {{game}}</h4>
    </div>

    <div class="container" [hidden]="!finished" *ngIf="!userHasReview">
        <h6>No has realizado ninguna review de este juego</h6>
        <button type="button" role="button" class="btn btn-primary" [routerLink]="['/games/'+game+'/reviews/create']">Crear Review</button>
    </div>
    <div class="container" [hidden]="!finished" *ngIf="userHasReview">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Nota</th>
            <th scope="col">Comentario</th>
            <th scope="col">Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{userReview.username}}</td>
            <td>{{userReview.titulo}}</td>
            <td>{{userReview.nota}}</td>
            <td>{{userReview.comentario}}</td>
            <td>{{userReview.fechaRegistro | date:'dd-MM-yyyy'}}</td>
        </tr>   
        </tbody>
        </table>
    </div>

    <div class="mb-3">
      <label for="User" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="User" name="user" maxlength="20" [(ngModel)]="user">
    </div>
    <div class="mb-3">
      <label for="FechaRegIni" class="form-label">Fecha Registro Inicial</label>
      <input type="date" format="dd-MM-yyyy" class="form-control" id="FechaRegIni" name="fechaRegIni" [(ngModel)]="fechaRegIni">
    </div>
    <div class="mb-3">
      <label for="FechaRegFin" class="form-label">Fecha Registro Final</label>
      <input type="date" format="dd-MM-yyyy" class="form-control" id="FechaRegFin" name="fechaRegFin" [(ngModel)]="fechaRegFin">
    </div>
    <div class="mb-3">
      <label for="NotaIni" class="form-label">Nota Inicial</label>
      <input type="text" class="form-control" id="NotaIni" name="notaIni" maxlength="2" [(ngModel)]="notaIni">
    </div>
    <div class="mb-3">
      <label for="NotaFin" class="form-label">Nota Final</label>
      <input type="text" class="form-control" id="NotaFin" name="notaFin" maxlength="2" [(ngModel)]="notaFin">
    </div>
    <div class="mb-3">
      <label for="Order" class="form-label">Ordenación</label>        
      <p-dropdown [options]="orders" [(ngModel)]="order" placeholder="Seleccione una opción"></p-dropdown>
    </div>
    <div class="mb-4">
    <button type="button" class="btn btn-info" role="button" (click)="search()">Buscar Juego</button> 
    <button type="button" class="btn btn-info" role="button" (click)="searchAll()">Ver Todos</button>
    </div>

    <div class="container">
        <table class="table">
        <thead>
        <h4 *ngIf="reviews[0] == null">No hay resultados</h4>

        <tr *ngIf="reviews[0] != null">
            <th scope="col">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Nota</th>
            <th scope="col">Comentario</th>
            <th scope="col">Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of reviews">
            <td>{{review.username}}</td>
            <td>{{review.titulo}}</td>
            <td>{{review.nota}}</td>
            <td>{{review.comentario}}</td>
            <td>{{review.fechaRegistro | date:'dd-MM-yyyy'}}</td>
        </tr>   
        </tbody>
        </table>
    </div> 
   </body> 
</html>
