<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="reviews.component.css"/>
    </head>
   <body>
    <div class="container">
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/home']">Home</button>
        </div>
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/games']">Regresar a Ver Juegos</button>
        </div>
        <h4>Está viendo las reviews de {{game}}</h4>
    </div>

    <div class="container" [hidden]="!finished" *ngIf="!userHasReview">
        <button type="button" role="button" class="btn btn-primary" [routerLink]="['/games/'+game+'/reviews/create']">Crear Review</button>
    </div>
    <div class="container" [hidden]="!finished" *ngIf="userHasReview">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Nota</th>
            <th scope="col">Comentario</th>
            <th scope="col">Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{userReview.username}}</td>
            <td>{{userReview.titulo}}</td>
            <td>{{userReview.nota}}</td>
            <td>{{userReview.comentario}}</td>
            <td>{{userReview.fechaRegistro}}</td>
        </tr>   
        </tbody>
        </table>
    </div>

    <div class="container">
        <table class="table">
        <thead>
        <h4 *ngIf="reviews[0] == null">No hay resultados</h4>

        <tr *ngIf="reviews[0] != null">
            <th scope="col">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Nota</th>
            <th scope="col">Comentario</th>
            <th scope="col">Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of reviews">
            <td>{{review.username}}</td>
            <td>{{review.titulo}}</td>
            <td>{{review.nota}}</td>
            <td>{{review.comentario}}</td>
            <td>{{review.fechaRegistro}}</td>
        </tr>   
        </tbody>
        </table>
    </div> 
   </body> 
</html>
