<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="request-change-password.component.css"/>
    </head>
    <body>    
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div class="surface-card p-4 shadow-2 border-round lg:w-5 xl:w-5" style="width: 100%; max-width: 4000px;">
                <div class="text-center mb-5" style="margin-bottom: 45px !important;">
                    <div class="text-900 text-3xl font-medium mb-3" style="font-weight: bold !important;">Introduce el correo electrónico asociado a tu cuenta</div>
                </div>

                <div>
                    <label for="mail" class="block text-900 font-medium mb-2">Correo electrónico </label>
                    <input id="mail" type="text" placeholder="Correo electrónico" pInputText maxlength="100" [(ngModel)]="mail" class="w-full mb-3">
                    
                    <button pButton pRipple (click)="request()" label="Enviar correo" icon="pi pi-envelope" class="w-full" style="margin-top: 45px; margin-bottom: 45px;"></button>
                </div>
                <div class="text-center mb-5">
                    <a [routerLink]="['/login']" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Regresar a Login sin cambiar la contraseña</a>
                </div>
            </div>
        </div>
    </body>
</html>
