<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="login.component.css"/>
    </head>
    <body>    
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div class="surface-card p-4 shadow-2 border-round lg:w-5" style="width: 100%; max-width: 400px;">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Login</div>
                    <span class="text-600 font-medium line-height-3">¿Aún no tienes una cuenta?</span>
                    <a href="/signup" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">¡Créala ahora!</a>
                </div>

                <div>
                    <label for="user" class="block text-900 font-medium mb-2">Usuario</label>
                    <input id="user" type="text" placeholder="Nombre de usuario" pInputText maxlength="20" [(ngModel)]="username" class="w-full mb-3">

                    <label for="password" class="block text-900 font-medium mb-2">Contraseña</label>
                    <p-password id="password" [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [feedback]="false" [toggleMask]="true" maxlength="25" placeholder="Contraseña" [(ngModel)]="password" class="w-full mb-3"/>

                    
                    <a href="/users/request/change/password" class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">¿Olvidaste la contraseña?</a>


                    <button pButton pRipple (click)="login()" label="Sign In" icon="pi pi-user" class="w-full" style="margin-top: 45px;"></button>
                </div>
            </div>
        </div>
    </body>
</html>
