<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="games.component.css"/>
    </head>
   <body>
    <div class="container">
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/home']">Home</button>
        </div>
        <h4>Introduzca el videojuego que quiera buscar</h4>
        <form>
            <div class="mb-3">
                <label for="GameName" class="form-label">Videojuego</label>
                <input type="text" class="form-control" id="GameName" name="game" maxlength="50" [(ngModel)]="game">
            </div>
            <div class="mb-4">
            <button type="button" class="btn btn-info" role="button" (click)="search()">Buscar Juego</button> 
            </div>
            <div class="mb-4">
                <button type="button" class="btn btn-info" role="button" (click)="searchAll()">Ver Todos</button> 
                </div>
        </form>
    </div>


    <div class="container">
        <table class="table">
        <thead>
        <h4 *ngIf="games[0] == null">No hay resultados</h4>

        <tr *ngIf="games[0] != null">
            <th scope="col">Nombre</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Desarrolladora</th>
            <th scope="col">Géneros</th>
           <!-- <th scope="col">Nota Media</th> -->
            <th scope="col">Fecha de Lanzamiento</th>
            <th scope="col">Reviews</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of games">
            <th scope="row">{{game.nombre}}</th>
            <td>{{game.plataforma}}</td>
            <td>{{game.desarrolladora}}</td>
            <td>{{game.generos}}</td>
            <td>{{game.fechaLanzamiento}}</td>
            <button type="submit" class="btn btn-primary" role="button" [routerLink]="[game.nombre+'/reviews']">Ver Reviews</button>
        </tr>   
        </tbody>
        </table>
    </div> 
   </body> 
</html>
