<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="user-reviews.component.css"/>
    </head>
   <body>
    <div class="container">
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/home']">Home</button>
        </div>
        <h4>Introduzca un videojuego para buscar reseñas sobre él</h4>
        <form>
            <div class="mb-3">
                <label for="GameName" class="form-label">Videojuego</label>
                <input type="text" class="form-control" id="GameName" name="game" maxlength="50" [(ngModel)]="game">
            </div>
            <div class="mb-4">
            <button type="button" class="btn btn-info" role="button" (click)="searchByGame()">Buscar Reviews</button> 
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table">
        <thead>
        <h4 *ngIf="reviews[0] == null">No hay resultados</h4>

        <tr *ngIf="reviews[0] != null">
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Game</th>
            <th scope="col">Titulo</th>
            <th scope="col">Nota</th>
            <th scope="col">Comentario</th>
            <th scope="col">Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of reviews">
            <th scope="row">{{review.idReview}}</th>
            <td>{{review.username}}</td>
            <td>{{review.videojuego}}</td>
            <td>{{review.titulo}}</td>
            <td>{{review.nota}}</td>
            <td>{{review.comentario}}</td>
            <td>{{review.fechaRegistro}}</td>
            <button type="button" class="btn btn-info" role="button" [routerLink]="['/'+review.username+'/reviews/'+review.idReview+'/edit']">Editar</button>
            <button type="button" class="btn btn-danger" role="button" (click)="delete(review.idReview)">Eliminar</button> 
        </tr>   
        </tbody>
        </table>
    </div> 
   </body> 
</html>

