<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="admin.component.css"/>
    </head>
    <body>
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/admin/games/create']">Registrar Nuevo Juego</button>
        </div>
        <div class="container">
            <button type="button" role="button" class="btn btn-primary" [routerLink]="['/admin/games']">Gestionar Juegos</button>
        </div>
    </body>
</html>

