<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="register.component.css"/>
    </head>
    <body>
        <div class="container">
            <h3>Crea una cuenta para empezar a usar la web</h3>
            <form>
                <div class="mb-3">
                    <label for="Username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="Username" name="username" maxlength="20" [(ngModel)]="username">
                </div>
                <div class="mb-3">
                    <label for="Mail" class="form-label">Dirección de correo electrónico </label>
                    <input type="text" class="form-control" id="Mail" name="mail" maxlength="100" [(ngModel)]="mail">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" id="Password" name="password" maxlength="25" [(ngModel)]="password">
                </div>
                <div class="mb-3">
                    <label for="RepeatedPassword" class="form-label">Confirma la contraseña</label>
                    <input type="text" class="form-control" id="RepeatedPassword" name="repeatedPassword" maxlength="25" [(ngModel)]="repeatedPassword">
                </div>
                <div class="mb-4">
                <button type="button" class="btn btn-info" role="button" (click)="register()">Registrarse</button> 
                </div>
            </form>
            <div class="container">
                <div class="mb-4">
                    <button type="button" class="btn btn-info" role="button" [routerLink]="['/login']">Volver a Login</button> 
                    </div>
            </div>
        </div>
    </body>
</html>
